.p-content-detail_head {
    border-bottom: 2px solid #eee;
    background-color: #fff;
}

.p-content-detail_inner {

    margin: 0 auto;
}

.p-content-detail_body {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.p-content-detail_left {
    width: 260px;
}
.c-content_jacket {
    display: inline-block;
    position: relative;
    width:340px;
    height:236px;
}
.p-content-detail_main {
    margin-left: 40px;
    width: 700px;
}
.p-content-detail_title {
    font-size: 2.4rem;
    font-weight: 600;
}
.p-content-detail_original {
    color: #7e7e7e;
    font-size: 1.2rem;
}
.p-content-detail_other-info{
  margin-top: 10px;
  font-size: 1.2rem;
}
.p-content-detail_other-info-title{
  margin:  0;             /* デフォルトCSS打ち消し */
  font-size:  24px;       /* 文字サイズ指定 */
  position:  relative;    /* 位置調整 */
  font-weight:  normal;   /* 文字の太さ調整 */
  background: linear-gradient(to right, rgb(48, 224, 192) 0%,rgba(96,155,208,0.7) 30%,rgba(125,185,232,0) 100%);/* グラデーション指定 */
  padding:  10px;         /* 余白指定 */
  margin-bottom: 15px;    /* 周りの余白指定 */
  border-radius:  2px;    /* 角丸指定 */
  display: inline-block;
  font-weight: 600;
}
.p-content-detail_genre{
  margin-top: 3px;
}
.p-content-detail_genre-title{
  display: inline-block;
  font-weight: 600;
  margin:  0;             /* デフォルトCSS打ち消し */
  font-size:  24px;       /* 文字サイズ指定 */
  position:  relative;    /* 位置調整 */
  background: linear-gradient(to right, rgb(48, 224, 192) 0%,rgba(96,155,208,0.7) 30%,rgba(125,185,232,0) 100%);/* グラデーション指定 */
  padding:  10px;         /* 余白指定 */
  margin-bottom: 15px;    /* 周りの余白指定 */
  border-radius:  2px;    /* 角丸指定 */
  display: inline-block;
  font-weight: 600;
}
.p-content-detail_synopsis{
  margin-top: 20px;
  font-size: 1.4rem;
}
.p-content-detail_synopsis-term{
  margin-top: 8px;
  margin-bottom: 2px;
  font-weight: 600;
  margin:  0;             /* デフォルトCSS打ち消し */
  font-size:  24px;       /* 文字サイズ指定 */
  position:  relative;    /* 位置調整 */
  background: linear-gradient(to right, rgb(48, 224, 192) 0%,rgba(96,155,208,0.7) 30%,rgba(125,185,232,0) 100%);/* グラデーション指定 */
  padding:  10px;         /* 余白指定 */
  margin-bottom: 15px;    /* 周りの余白指定 */
  border-radius:  2px;    /* 角丸指定 */
}
.p-content-detail_synopsis-desc{
  display: block;
}
.p-content-detail_people-list-term{
  margin-top: 8px;
  margin-bottom: 6px;
  font-size: 1.4rem;
  font-weight: 600;
  margin:  0;             /* デフォルトCSS打ち消し */
  font-size:  24px;       /* 文字サイズ指定 */
  position:  relative;    /* 位置調整 */
  font-weight:  normal;   /* 文字の太さ調整 */
  background: linear-gradient(to right, rgb(48, 224, 192) 0%,rgba(96,155,208,0.7) 30%,rgba(125,185,232,0) 100%);/* グラデーション指定 */
  padding:  10px;         /* 余白指定 */
  margin-bottom: 15px;    /* 周りの余白指定 */
  border-radius:  2px;    /* 角丸指定 */
}
.p-content-detail_drana-video-term{
  margin-top: 8px;
  margin-bottom: 6px;
  font-size: 1.4rem;
  font-weight: 600;
  margin:  0;             /* デフォルトCSS打ち消し */
  font-size:  24px;       /* 文字サイズ指定 */
  position:  relative;    /* 位置調整 */
  font-weight:  normal;   /* 文字の太さ調整 */
  background: linear-gradient(to right, rgb(48, 224, 192) 0%,rgba(96,155,208,0.7) 30%,rgba(125,185,232,0) 100%);/* グラデーション指定 */
  padding:  10px;         /* 余白指定 */
  margin-bottom: 15px;    /* 周りの余白指定 */
  border-radius:  2px;    /* 角丸指定 */
}
.justify-content-center{
  margin-top:30px
}
.btn{
  
}